<p id="notice"><%= notice %></p>

<p>
  <strong>Original word:</strong>
  <%= @word.original_word %>
</p>

<p>
  <strong>Translation:</strong>
  <%= @word.translation %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
